:root {
  --color-page-background: #171214;
  --color-yellow-background: #5b4628;
  --color-green-background: #0b525b;
  --color-blue-background: #212f45;
  --color-text: #eeeeee;
  --color-faded: #cacaca;
  --color-link: #f790e8;
  --color-link-hover: #ffc1cc;
  --color-button-dark-mode: #424242;
  --color-button-light-mode: #eeeeee;
}

.light-mode {
  --color-page-background: #d5d5d5;
  --color-yellow-background: #f8f89f;
  --color-green-background: #a2f6a2;
  --color-blue-background: #ade4f9;
  --color-text: #424242;
  --color-faded: #585858;
  --color-link: #ed7788;
  --color-link-hover: #ff002b;
  --color-button-dark-mode: #424242;
  --color-button-light-mode: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-page-background);
  color: var(--color-text);
  font-family: "Kaisei HarunoUmi", sans-serif;
  margin: 0;
  font-size: 100%;
}

h1, h2, h3 {
  font-family: "Alegreya Sans", sans-serif;
}

h1, h2 {
  font-size: 2em;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

.underline {
  text-decoration: underline;
}

section.section-global {
  padding-top: 5%;
  position: relative;
  width: 100%;
}

div.container-global {
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3em 0;
  width: clamp(300px, 95%, 900px);
}

ul.ul-global {
  list-style-position: outside;
  list-style-type: circle;
  margin: 0;
  padding: 0 20px;
}
