---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
---

<Layout title="Jin Wei">
  <Header />
  <section class="section-global">
    <div class="container-global">
      <h1>Hey, this isn't a valid page :/</h1>
      <p>
        You might want to go to my <a href="/">home page</a> instead!
      </p>
    </div>
  </section>
</Layout>
