---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";

import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Edu from "../components/Edu.astro";

import Footer from "../components/Footer.astro";
---

<Layout title="Jin Wei">
  <div>
    <Header page="me" />

    <AboutMe />

    <section class="section-global section" id="aboutme">
      <div class="container-global container">
        <p>
          <!-- TODO: extended resume -->
          Refer to my <a href="/extended_resume.pdf">extended résumé</a> for the most updated information.
        </p>

        <p>Check out (some of) my <a href="/projects/">projects</a> here.</p>
        <p>Look at my <a href="/edu">education details</a> here.</p>
      </div>
    </section>

    <!--<Experience />  -->
    <!--<Skills />      -->
    <!--<Projects />    -->
    <!--<Edu />         -->

    <Footer />
  </div>
</Layout>
