---
import Svg from "../components/Svg.astro";

import me from "../images/icons/me.jpg";
import me2 from "../images/icons/me2.jpg";
---

<section class="section-global section" id="aboutme">
  <div class="container-global container">
    <img
      class="my_picture"
      src={me}
      alt="picture of Jin Wei"
      width="200px"
      onmouseover={`this.src='${me2}'`}
      onmouseout={`this.src='${me}'`}
    />
    <div>
      <h1>
        <div>
          Hey there, I'm
        </div>
        <div class="mega">Jin Wei</div>
      </h1>
      <p class="roles">Full Stack Intern @ Cinch | NUS Computer Science</p>
      <p>I specialise in building full stack solutions for the web.</p>
      <div class="links">
        <span>
          <a
            href="https://github.com/seetohjinwei/"
            target="_blank"
            rel="noopener noreferrer">
            <Svg icon="github" />
          </a>
        </span>
        &nbsp;
        <span>
          <a
            href="https://www.linkedin.com/in/seetohjinwei/"
            target="_blank"
            rel="noopener noreferrer">
            <Svg icon="linkedin" />
          </a>
        </span>
        &nbsp;
        <span>
          <a href="mailto:seetohjinwei@gmail.com">
            <Svg icon="mail" />
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    font-size: 120%;
  }

  .mega {
    font-size: 150%;
  }

  /* TODO: links hover color? */

  .roles {
    font-style: italic;
  }

  .arrow {
    position: absolute;
  }

  img.my_picture {
    display: block;
    margin: auto;
    border: 5px solid var(--color-faded-more);
    border-radius: 16px;

    object-fit: cover;
    height: 200px;

    transition: transform 0.2s ease-out;
  }

  img.my_picture:hover {
    transform: rotate(1deg);
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .container {
      /* move the image to the right, if screen is large enough */
      display: flex;
    }

    img.my_picture {
      margin-left: 2em;
      object-fit: contain;
      height: auto;
    }

    .mega {
      font-size: 250%;
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  span.wave {
    display: inline-block;
  }

  span.wave:hover,
  span.wave:focus {
    animation: 0.7s linear infinite wave;
  }
</style>
