---
import Svg from "../components/Svg.astro";

import me from "../images/icons/me.jpg";
import me2 from "../images/icons/me2.jpg";
---

<section class="section-global section" id="aboutme">
  <div class="container-global container">
    <img
      class="my_picture"
      src={me}
      alt="picture of Jin Wei"
      width="200px"
    />
    <div class="content">
      <h1>
        <div>
          Hey there, I'm
        </div>
        <div class="mega">
          <div class="linebreak">See Toh</div>
          <div class="linebreak">Jin Wei</div>
        </div>
      </h1>
      <p class="roles">NUS Computer Science</p>
      <div class="links">
        <span>
          <a
            href="https://github.com/seetohjinwei/"
            target="_blank"
            rel="noopener noreferrer"
            class="tooltip"
          >
            <Svg icon="github" />
            <span class="tooltip-text">GitHub</span>
          </a>
        </span>
        &nbsp;
        <span>
          <a
            href="https://www.linkedin.com/in/seetohjinwei/"
            target="_blank"
            rel="noopener noreferrer"
            class="tooltip"
          >
            <Svg icon="linkedin" />
            <span class="tooltip-text">LinkedIn</span>
          </a>
        </span>
        &nbsp;
        <span>
          <a href="mailto:seetohjinwei@gmail.com"
            class="tooltip"
          >
            <Svg icon="mail" />
            <span class="tooltip-text">Email me!</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<style>
  .container {
    font-size: 120%;
  }

  .mega {
    font-size: 150%;
  }

  .roles {
    font-style: italic;
  }

  .arrow {
    position: absolute;
  }

  img.my_picture {
    display: block;
    margin: auto;
    border: 5px solid var(--color-faded-more);
    border-radius: 16px;

    object-fit: cover;
    height: 200px;

    transition: transform 0.2s ease-out;
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .container {
      /* move the image to the right, if screen is large enough */
      display: flex;
    }

    .content {
      width: 100%;
      margin-left: 100px;
    }

    img.my_picture {
      margin-left: 2em;
      object-fit: contain;
      height: auto;
    }

    .mega {
      font-size: 200%;
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  span.wave {
    display: inline-block;
  }

  span.wave:hover,
  span.wave:focus {
    animation: 0.7s linear infinite wave;
  }
</style>
