---
export interface Props {
  showAll?: boolean;
}

const { showAll = false } = Astro.props;
---

<section class="section-global section" id="edu">
  <div class="container-global">
    <h2 id="edu-heading">Education</h2>
    <div class="card">
      <div class="space">
        <h3>National University of Singapore</h3>
        <span>August 2021 - Dec 2024</span>
      </div>
      <h4>
        <span class="linebreak">Bachelor of Computing (Honours)</span>
        <span class="linebreak">in Computer Science</span>
      </h4>
      <p>
        <span class="linebreak">Focus Areas in Database Systems</span>
        <span class="linebreak">and Parallel Computing</span>
      </p>
      <ul class="summary-list-global">
        <li>Grade Point Average: 4.75 / 5.00</li>
        <li>Achieved Distinction in Database Systems Focus Area</li>
        <li>Achieved Dean's List for Academic Year 2021 / 2022 Semester 2</li>
        <li>Awarded Top Students for:</li>
        <ul class="summary-list-global">
          <li>Programming Methodology (CS1101S)</li>
          <li>Programming Methodology II (CS2030S)</li>
        </ul>
      </ul>
      <p>See the <a href="/edu">full story</a> here.</p>
    </div>

  </div>
</section>

<style>
  .card {
    padding: 0 2rem;
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .space {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
