---
---

<script is:inline>
function handleClick(self, target) {
  const elements = document.querySelectorAll(".experience-card");
  elements.forEach((element) => {
    const id = element.id;
    if (id !== target) {
      element.classList.add("hide");
    } else {
      element.classList.remove("hide");
    }
  });

  const activeButtons = document.querySelectorAll(".button-active");
  activeButtons.forEach((element) => {
    element.classList.remove("button-active");
  });
  self.classList.add("button-active");
}
</script>

<section class="section-global section" id="experience">
  <div class="container-global container">
    <h2>Experience</h2>
    <div class="card-container">
      <div class="tabs-list">
        <button class="button button-active" onclick="handleClick(this, 'cinch')">Cinch</button>
        <button class="button" onclick="handleClick(this, 'nus')">NUS</button>
      </div>
      <div class="experience-card" id="cinch">
        <hgroup>
          <h3>
            <span class="linebreak">Full-Stack Engineer Intern (Risk)</span>
            <span class="linebreak">~ Cinch</span>
          </h3>
          <p>Feb 2023 - Present</p>
        </hgroup>
        <ul class="summary-list-global summary-list">
          <li>Built Backend infrastructure, and Frontend UI for superadmin dashboards.</li>
          <li>Developed and maintained robust tooling and pipelines for risk and data analysis.</li>
          <li>Assisted in facilitating data driven decisions for risk management.</li>
          <li>Performed integration with 3rd party companies to automate workflows.</li>
        </ul>
        <ul class="skill-bubble-global">
          <li><div>Python</div></li>
          <li><div>FastAPI</div></li>
          <li><div>Next.js + React</div></li>
          <li><div>Data Engineering</div></li>
          <li><div>Amazon AWS</div></li>
          <li><div>Google Cloud</div></li>
          <li><div>MySQL</div></li>
        </ul>
      </div>
      <div class="experience-card hide" id="nus">
        <hgroup>
          <h3>
            <span class="linebreak">Undergraduate Tutor</span>
            <span class="linebreak">~ National University of Singapore</span>
          </h3>
          <p>Various Semesters</p>
        </hgroup>
        <ul class="summary-list-global summary-list">
          <li>Go to <a href="?section=teaching#edu">teaching section</a> for details.</li>
        </ul>
        <ul class="skill-bubble-global">
          <li><div>Data Structures & Algorithms</div></li>
          <li><div>Teaching</div></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .hide {
    display: none !important;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .tabs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    display: block;
    flex-grow: 1;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
    font-weight: 700;
    font-size: 100%;

    padding: 1rem 0;
    border: none;
    border-top: 2px solid var(--color-faded-more);
  }

  .button:hover, .button:active {
    background-color: var(--color-faded-less);
  }

  .button-active {
    border: none;
    border-top: 2px solid var(--color-accent);
    color: var(--color-accent);
  }

  .button-active:hover, .button-active:active {
    border: none;
    border-top: 2px solid var(--color-accent-hover);
    color: var(--color-accent-hover);
  }

  .experience-card {
    padding: 0 1em;
  }

  .summary-list {
    max-width: 600px;
  }

  hgroup > * {
    margin: 0;
  }

  hgroup > p {
    font-size: 90%;
  }

  hgroup {
    margin: 1rem 0;
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .card-container {
      flex-direction: row;
    }

    .tabs-list {
      flex-direction: column;
    }

    .button {
      padding: 0 1rem;
      border: none;
      border-left: 2px solid var(--color-faded-more);
    }

    .button-active {
      border: none;
      border-left: 2px solid var(--color-accent);
    }

    .button-active:hover, .button-active:active {
      border: none;
      border-left: 2px solid var(--color-accent-hover);
    }
  }
</style>
