---
---

<footer>
  <div class="left"><span class="logo"> See Toh Jin Wei</span></div>
  <div class="right">
    <p>
      Developed by yours truly with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>.
    </p>
  </div>
</footer>

<style>
  footer {
    width: 60%;
    /* margin-top: 1rem; */
    margin-left: 20%;
  }

  footer > * {
    color: var(--color-text);
    margin: 1em 0;
  }

  .left {
    float: left;
    margin-left: 2em;
  }

  .right {
    float: right;
    margin-right: 2em;
  }

  span.logo {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    color: var(--color-logo-dark);
    font-size: 1.3em;
  }
</style>
