---
import Svg from "./Svg.astro";
---

<footer>
  <div class="left"><span class="logo"> See Toh Jin Wei</span></div>
  <div class="right">
    <a
      href="https://github.com/seetohjinwei/me"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="star-container">
        <span class="star">
          <Svg icon="star" />
        </span>
        on GitHub
      </span>
    </a>
  </div>
</footer>

<style>
  footer {
    position: absolute;
    bottom: -10px;
    width: 100%;
    background-color: var(--color-footer);
  }

  footer > * {
    color: var(--color-footer-text);
    margin: 1em 0;
  }

  .left {
    float: left;
    margin-left: 2em;
  }

  .right {
    float: right;
    margin-right: 2em;
  }

  span.logo {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    color: var(--color-logo-dark);
    font-size: 1.3em;
  }

  span.star {
    display: inline-block;
  }

  span.star-container > span.star {
    transform: scale(1);
    transition: all 0.2s ease-out;
  }

  span.star-container:hover > span.star {
    transform: scale(1.2);
  }
</style>
