---
---

<footer>
  <div class="left"><span class="logo">See Toh Jin Wei</span></div>
  <div class="right">
    Developed by me with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>.
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
  }

  footer > * {
    color: var(--color-text);
    margin: 1em 0;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  span.logo {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    color: var(--color-logo-dark);
    font-size: 1.3em;
  }

  /* for large screens */
  @media (min-width: 1000px) {
  }
</style>
