---
import DarkModeSwitcher from "./DarkModeSwitcher.astro";

const defaultSections = [
  {
    anchor: "#aboutme",
    name: "Me",
  },
  {
    anchor: "#experience",
    name: "Experience",
  },
  {
    anchor: "#skills",
    name: "Skills",
  },
  {
    anchor: "#projects",
    name: "Projects",
  },
  {
    anchor: "#edu",
    name: "Edu",
  },
  {
    anchor: "/resume.pdf",
    name: "Résumé",
  },
];

export interface Props {
  page?: string;
  sections?: { anchor: string; name: string }[];
}

const { page = "", sections = defaultSections } = Astro.props;
---

<header>
  <nav class="wrapper">
    <ul class="list-left">
      <li class={"item-left"}>
        <a href="/">
          <span class="logo">Jin Wei</span>
        </a>
      </li>
      <li class={"item-left" + ("blog" === page ? " item-selected" : "")}>
        <a href="/blog">blog</a>
      </li>
    </ul>
    <ul class="list-right">
      {
        sections.map((s) => (
          <li class="item-right">
            <a href={s.anchor}>{s.name}</a>
          </li>
        ))
      }
      <li class="item-right"><DarkModeSwitcher /></li>
    </ul>
  </nav>
</header>

<style>
  .wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
  }

  ul {
    list-style: none;
  }

  .list-left {
    float: left;
  }

  .list-right {
    float: right;
    margin-right: 20px;
  }

  span.logo {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    color: var(--color-logo);
    font-size: 1.5em;
  }

  li {
    padding: 0 0.5ch;
  }

  li > a {
    color: var(--color-text);
    font-size: 1.3em;
    font-weight: 600;
  }

  .item-left {
    padding: 0.7ch 1ch;
    width: fit-content;
  }

  .item-selected {
    border: 2px solid var(--color-accent);
    border-radius: 6px;
  }

  @media (min-width: 1000px) {
    .item-left {
      display: inline;
    }

    .item-right {
      display: inline;
    }
  }
</style>
