---
import DarkModeSwitcher from "./DarkModeSwitcher.astro";

export interface Props {
  page?: string;
  sections?: { anchor: string; name: string }[];
}

const { page = "", sections = [] } = Astro.props;

const pages = [
  {
    url: "/",
    name: "me",
  },
  {
    url: "/blog",
    name: "blog",
  },
];
---

<header>
  <nav class="wrapper">
    <ul class="list-left">
      {
        pages.map((p) => {
          const selected: string = p.name === page ? " item-selected" : "";

          return (
            <li class={"item-left" + selected}>
              <a href={p.url}>{p.name}</a>
            </li>
          );
        })
      }
    </ul>
    <ul class="list-right">
      {
        sections.map((s) => (
          <li class="item-right">
            <a href={s.anchor}>{s.name}</a>
          </li>
        ))
      }
      <li class="item-right"><DarkModeSwitcher /></li>
    </ul>
  </nav>
</header>

<style>
  .wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
  }

  ul {
    list-style: none;
  }

  .list-left {
    float: left;
  }

  .list-right {
    float: right;
    margin-right: 20px;
  }

  li {
    padding: 0 0.5ch;
  }

  li > a {
    color: var(--color-text);
    font-size: 1.3em;
    font-weight: 600;
  }

  .item-left {
    display: inline;
    padding: 0.7ch 1ch;
  }

  .item-selected {
    border: 2px solid var(--color-link);
    border-radius: 6px;
  }

  @media (min-width: 1000px) {
    .item-right {
      display: inline;
    }
  }
</style>
