---
---

<section class="section-global section" id="skills">
  <div class="container-global container">
    <h2>Skills</h2>
    <div class="card-container">
      <ul class="summary-list-global wrap">
        <li>Golang</li>
        <li>Python</li>
        <li>TypeScript / JavaScript</li>
        <li>SQL (PostgreSQL, MySQL, CitusDB)</li>
        <li>NoSQL (MongoDB, Redis, Cassandra)</li>
        <li>C++</li>
        <li>Linux Shell (Bash)</li>
        <li>Hertz</li>
        <li>FastAPI</li>
        <li>Git & GitHub</li>
        <li>Amazon AWS</li>
        <li>React + Next.js</li>
        <li>Pandas</li>
        <li>Angular</li>
        <li>GitHub Actions</li>
        <li>Docker</li>
      </ul>
    </div>
  </div>
</section>

<style>
  .wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    grid-row-gap: 0.5rem;

    margin: 0;
  }

  /* for large screens */
  @media (min-width: 1000px) {
    .card-container {
      padding: 0 2rem;
    }

    ul {
      grid-template-columns: repeat(auto-fill, 200px);
    }
  }
</style>
