---
export interface Props {
  title: string;
  company: string;
  period: string;
  description?: string[];
}

const { title, company, period, description = [] } = Astro.props;
---

<div class="section">
  <div class="header">
    <div class="role">
      <h3 class="title">{title}</h3>
      <h4 class="company">@ {company}</h4>
    </div>
    <div class="period">
      <p>{period}</p>
    </div>
  </div>
  <div class="description">
    <slot name="before_description" />
    <ul>
      {description.map((item) => <li>{item}</li>)}
    </ul>
    <slot />
    <slot name="after_description" />
  </div>
</div>

<style>
  .section {
    /* backdrop-filter isn't supported by some smaller browsers (they will just see the same background colour as the section) */
    backdrop-filter: brightness(1.1);
    -webkit-backdrop-filter: brightness(1.1);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 40px;
    margin-bottom: 1em;
  }

  .title {
    margin-bottom: 0;
  }

  .company {
    margin-top: 0;
  }

  .period p {
    margin: 0;
    font-size: 0.9em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .company {
    font-size: 1em;
  }

  .period {
    font-style: italic;
  }

  .description {
    width: 100%;
  }

  @media (min-width: 1000px) {
    .header {
      align-items: center;
      flex-direction: row;
    }

    .description {
      width: 75%;
    }

    .period p {
      font-size: 1em;
    }
  }
</style>
