---
import Divider from "./Divider.astro";
import Work from "./Work.astro";
---

<section class="section-global section" id="work">
  <Divider colour="yellow" type="two" />
  <div class="container-global">
    <h2>Work Experience</h2>
    <Work
      title="Undergraduate Tutor"
      company="National University of Singapore"
      period={{ start: "Jan 2023", end: "Present" }}
    >
      <div slot="before_description">
        <h5>
          Data Structures and Algorithms (CS2040S) - AY2022/2023 Semester 2
        </h5>
        <ul>
          <li>
            An introductory course to design and implementation of fundamental
            data structures and algorithms, taught with Java.
          </li>
          <li>Conducted weekly tutorials for a class of 15.</li>
          <li>Graded weekly assignments for a class of 15.</li>
          <li>Assisted in preparing teaching materials.</li>
        </ul>
      </div>
    </Work>
  </div>
</section>

<style>
  .section {
    background: var(--color-teal-background);
  }
</style>
