---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";

const {title} = Astro.props;
---

<Layout title={title}>
  <div class="container">
    <Header page="me" />
    <slot />
  </div>
</Layout>

<style>
  .container {
    height: 100%;
  }
</style>
